
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Movement';
  src: local('Movement'), url(./assets/Webfonts/Movement-DirectBlack.woff2) format('woff');

}


@layer base{
  html{
    font-family: 'Chivo';
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */
body::before {
  animation: grain 12s steps(10) infinite;
  background-image: url("assets/noise4.jpeg");
  content: '';
  height: 300%;
  left: -50%;
  opacity: 0.8;
  position: fixed;
  top: -100%;
  width: 300%;
}

@-moz-document url-prefix() {
  body::before {
      display: none;
  }
}


@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}



.folio-bg{
  background: linear-gradient(110deg, #27272de3 35%, rgba(255, 251, 0, 0.1) 100%);
}

.wide-screen-landing{
  /* text-shadow: 0px 0px 1px rgba(32, 37, 63, 0.135); */
  filter: drop-shadow(1px 3px 2px #293d8e);
}

.burnett{
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.685);
  color: white;

}



.mobile-landing{
  display: none;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background-color:#fef9c3;
  border-radius: 3px 3px 3px 3px;
  z-index: 9999;
  box-shadow: inset 0px 0px 2px 1px rgba(108, 108, 108, 0.568) ;
}

::-webkit-scrollbar-thumb:hover {
  background-color:#f1f13e;
  transition-duration: 0.5s;
  transition-property: background-color; 
}

::-webkit-scrollbar-thumb:not(:hover) {
  background-color:#fef9c3;
  transition-duration: 0.5s;
  transition-property: background-color; 
}
.navList{
  font-family: 'Capriola';
}
.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.animation-container {
  position: relative;
  display: inline-block; 

}

/* Lottie animation positioning */
.lottie-animation {
  position: absolute;
  /* left: 37%; */
  transform: translateX(37%) translateY(-40%); 
  width: 300px; 
  height: 300px;   
}

.white{
  color: white;
}

.carousel-slider{
  /* border-radius: 20px; */
  border: 1px solid rgba(40, 40, 40, 0.693);
  box-shadow: 0px 4px 15px 0px rgba(204, 204, 204, 0.637), 1px 0px 10px 0px black,inset -1px 0px 10px black;
}

.control-arrow{
  background-color: rgba(88, 88, 88, 0.741) !important;
  opacity: 0.8 !important;
  /* box-shadow: inset 0px 0px 5px 4px black  !important; */
  width: 8%;
}

.control-arrow:hover{
  background-color:  rgba(172, 170, 170, 0.741) !important;
  opacity: 1 !important;
  /* box-shadow: inset 0px 0px 10px 2px black  !important; */
}

.control-arrow.control-prev{
  /* border-radius: 20px 0px 0px 20px ; */
  margin-left:-1%;
  border-left: 2px solid black !important;
}


.control-arrow.control-next{
  /* border-radius: 0px 19px 19px 0px; */
  margin-right:-1%;
}


.control-dots{
  display: none;
}

.portfolio:hover{
  text-decoration:underline wavy;

}

.portfolio:not(:hover){
  text-decoration:overline;
 
}

.services{
  text-shadow: rgb(255, 255, 255) 1px 1px 8px;
}

.service-type{
  align-items: center;
  justify-content: center;
}
.my-tech{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.skill{
  margin: 16px;
  position: relative;
  cursor:crosshair;
}

.skill-description {
  font-size: 18px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white;
  text-align: center;
  z-index: 10;
  padding: 10px;
  border-radius: 20px;
}

.detailed-description {
  color:rgb(255, 255, 255);
  background: linear-gradient(15deg,rgb(0, 0, 0) 0%,rgba(0, 0, 0) 10%,rgb(20, 19, 27)25%, rgb(20, 17, 27)40%, rgb(0, 0, 0) 100%);
  border: #141c1c 1px solid;
  padding: 10px;
  border-radius: 10px;
  max-width: 100vw;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: inset 0px 10px 6px 1px rgb(0, 0, 0);
}

.skills-desc {
  font-family:monospace;
  -moz-transform: translateX(120%);
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
  -moz-animation: my-animation 20s linear 0.1s;
  -webkit-animation: my-animation 20s linear 0.1s ;
  animation: my-animation 20s linear 0.1s;
  white-space: nowrap;
  letter-spacing: 0px;
}


/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-200%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-200%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }

}



@media screen and (max-width: 400px) {

.lottie-animation {
  position: absolute;
  left: 63%;
  top: -5vh;
  /* transform: translateX(-90%) translateY(-60%);  */
  width: 100px; 
  height: 100px; 
  transform: scale(1.3);
  
}


 
}

@media screen and (max-width:500px){
  .folio-bg{
    background: linear-gradient(130deg, #18181b 5%,#27272d6b 35%, rgba(255, 251, 0, 0.26) 100%);
  }


  .mobile-landing{
    display: block;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }

  .wide-screen-landing{
    display: none;
  }

  
}

@media screen and (min-width: 500px) {

  .my-tech{
    flex-direction: row;
}
.my-tech >p {
  font-size: 20px;
  margin: 16px;
}
.tv-animation{
  display: inline-block;
}

}


